<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ subject }}</title>
</head>
<body>

<p style="color: black; font-size: 20px; font-weight: bolder"> Hello, {{ name }}!</p>
<p>
  Thanks for signing up for Portfolio Generator App. Please log in and Verify Your Details.
</p>
<div>
  <h4><span>Username : </span> <span>{{email}}</span></h4>
  <h4><span>Password :  </span> <span>{{password}}</span></h4>
</div>


</body>
</html>